openapi: 3.0.3
info:
  title: UMBRAXON KYA-Hub API
  version: "1.0"
  description: |
    Minimal OpenAPI spec for the public + admin API surface.
    This is intentionally not exhaustive yet; it covers the integration-critical endpoints
    and documents security schemes at a high level.

servers:
  - url: https://umbraxon.xyz
    description: Production (via reverse proxy)
  - url: http://127.0.0.1:3000
    description: Local / on-host

tags:
  - name: public
    description: Public endpoints (no admin auth).
  - name: protocol
    description: Protocol negotiation + registration schema/docs.
  - name: webhooks
    description: Webhook ingestion endpoints (signature/HMAC verified server-side).
  - name: agent
    description: Agent-facing endpoints (some are public, some require Ed25519-signed payloads).
  - name: admin
    description: Admin-only endpoints (require `X-Admin-Key`).
  - name: metrics
    description: Prometheus scrape endpoint and related metrics surface.

components:
  securitySchemes:
    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: Admin authentication key.
  responses:
    InternalError:
      description: Internal error
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, example: INTERNAL }
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }

    PayRequest:
      type: object
      required: [amount, agentName]
      additionalProperties: false
      properties:
        amount:
          type: integer
          description: Tier price in sats (maps to BASIC/ELITE).
          example: 10000
        agentName:
          type: string
          description: Requested agent display name.
          example: "UmbraAgent-01"
        pubkey:
          type: string
          description: Optional Ed25519 pubkey (hex) used for deny-list checks and downstream flows.
          example: "9f2a... (hex)"
        manifest:
          type: object
          description: Optional manifest snapshot attached to payment metadata (debug/forensics).
        paymentMethod:
          type: string
          description: Optional hint to prefer a backend.
          enum: [btcpay, alby]

    PayResponse:
      type: object
      description: Invoice payload (shape differs by backend).
      required: [method, invoiceId]
      properties:
        method:
          type: string
          example: "alby-lightning"
        invoiceId:
          type: string
        paymentRequest:
          type: string
          description: BOLT11 invoice (Lightning).
        checkoutLink:
          type: string
          nullable: true
        expiresAt:
          type: string
          nullable: true
          description: ISO timestamp (if available from backend).
        tier:
          type: object
          properties:
            name: { type: string, example: ELITE }
            grade: { type: string, example: S }
            total: { type: integer, example: 80000 }
      additionalProperties: true

    RegisterInitiateRequest:
      type: object
      required: [manifest, manifest_signature, challenge_id, challenge_response]
      additionalProperties: false
      properties:
        manifest:
          type: object
          description: Agent manifest (validated against `/api/protocol/manifest-schema`).
        manifest_signature:
          type: string
          description: |
            Ed25519 signature (64 B → 128 hex) over the 32-byte digest
            `sha256(canonicalize(manifest))`. Canonicalization = recursive sorted-keys JSON
            with no whitespace; mirrors `lib/manifest-schema.js`.
          example: "aabb... (128 hex chars)"
        challenge_id:
          type: string
          description: Challenge id from `GET /api/auth/challenge`.
        challenge_response:
          type: string
          description: |
            Ed25519 signature (64 B → 128 hex) over the **raw 32 bytes** of `challenge.nonce`
            (`bytes.fromhex(nonce)`), NOT over the hex string.
          example: "aabb... (128 hex chars)"
        pow:
          type: object
          description: |
            Proof-of-Work solution. Required when the hub has PoW enabled for `purpose=register`
            (see `POW_REQUIRED_FOR`). Fetch via `GET /api/pow/challenge?purpose=register`.
          required: [challenge_id, nonce]
          properties:
            challenge_id: { type: string }
            nonce:
              type: string
              description: Hex string such that `sha256(challenge + ":" + nonce)` has `difficulty` leading zero bits.
            iterations:
              type: integer
              description: Self-reported solver iterations (telemetry only; server uses it for p50/p95 dashboards).

    RegisterInitiateResponse:
      type: object
      description: Registration intent + invoice details.
      properties:
        registration_id:
          type: string
          example: "REG-0123abcd..."
        invoice:
          $ref: "#/components/schemas/PayResponse"
      additionalProperties: true

    AuthChallengeResponse:
      type: object
      description: |
        Auth challenge nonce. Sign the **raw 32-byte nonce** (`bytes.fromhex(nonce)`) with
        the agent's Ed25519 private key and submit the resulting 64-byte hex signature
        as `challenge_response` to `/api/register/initiate`.
        
        `ttl_sec` and `ttl_mode` reflect adaptive behaviour: under sustained HTTP 403 pressure
        the hub temporarily issues longer-lived challenges (mode = `spike`) so honest clients
        mid-flow are not cut off. Clients SHOULD honour the returned `expires_at` rather than
        hard-coding the default TTL.
      required: [challenge_id, nonce, expires_at, ttl_sec]
      properties:
        challenge_id:
          type: string
          example: "CH-aabbccddeeff00112233"
        nonce:
          type: string
          description: 32-byte random hex (64 chars). Sign the RAW bytes, not the hex string.
          example: "00112233...ff" 
        expires_at:
          type: string
          description: ISO 8601 expiry. Always trust this over local TTL math.
        ttl_sec:
          type: integer
          example: 300
        ttl_mode:
          type: string
          enum: [normal, spike]
          description: |
            `normal` = base TTL (default 300 s). `spike` = hub is in adaptive 403-spike mode and
            this challenge has a longer TTL (`AUTH_CHALLENGE_403_SPIKE_TTL_MULTIPLIER`).
      additionalProperties: true

paths:
  /api/health:
    get:
      tags: [public]
      summary: Health snapshot (cached upstream probes)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object

  /api/tiers:
    get:
      tags: [public]
      summary: Tier pricing snapshot
      responses:
        "200":
          description: OK

  /api/pay:
    post:
      tags: [public]
      summary: Create invoice / registration intent payment
      description: |
        Protected by PoW gate + rate limiting. Request/response shapes are documented in `UMBRAXON.md`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayResponse"
        "429":
          description: Rate limited
        "500":
          $ref: "#/components/responses/InternalError"

  /api/check-status/{invoiceId}:
    get:
      tags: [public]
      summary: Poll invoice status
      parameters:
        - in: path
          name: invoiceId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK

  /api/protocol/manifest-schema:
    get:
      tags: [protocol]
      summary: Manifest JSON schema
      responses:
        "200":
          description: OK

  /api/protocol/versions:
    get:
      tags: [protocol]
      summary: Protocol version negotiation
      responses:
        "200":
          description: OK

  /api/hub/pubkey:
    get:
      tags: [public]
      summary: Hub public key and trusted manufacturers
      responses:
        "200":
          description: OK

  /api/metrics:
    get:
      tags: [metrics, admin]
      summary: Prometheus scrape endpoint (admin-gated)
      security:
        - AdminKey: []
      responses:
        "200":
          description: Prometheus text format
          content:
            text/plain:
              schema: { type: string }
        "401":
          description: Unauthorized

  /api/admin/ops-summary:
    get:
      tags: [admin, metrics]
      summary: Ops dashboard JSON — full DB snapshot for the web dashboard
      description: |
        Returns registration_intents, webhook backlog, rejection aggregates, agent counts,
        an `extended` object (paths, HTTP status, 7d rejections, PoW/auth challenge stats,
        heartbeats_log, pending_anchors, signature_failures, action_log), `legend` strings
        (meaning of agents_active), and `recent_rejected_requests` (incl. client_ip).
      security:
        - AdminKey: []
      responses:
        "200":
          description: Aggregated counts + recent rejected_requests rows
          content:
            application/json:
              schema: { type: object }
        "401":
          description: Unauthorized

  /api/webhook/btcpay:
    post:
      tags: [webhooks]
      summary: BTCPay webhook (raw body + HMAC)
      description: |
        Expects `application/json` raw body. Signature header is verified server-side.
      responses:
        "200":
          description: OK (always 200 to avoid infinite retries; failures are logged internally)

  /api/webhook/alby:
    post:
      tags: [webhooks]
      summary: Alby webhook (raw body + signature)
      responses:
        "200":
          description: OK

  /api/auth/challenge:
    get:
      tags: [protocol]
      summary: Issue a challenge nonce for Ed25519 challenge-response
      description: |
        Issues a short-lived challenge nonce bound to the optional `pubkey`. Sign the RAW
        nonce bytes (`bytes.fromhex(nonce)`) with the agent's Ed25519 private key and submit
        the 64-byte hex signature as `challenge_response` to `POST /api/register/initiate`.
        
        TTL adapts to hub load: when HTTP 403 traffic spikes (mass-suspended bots, bulk
        bad-sig), new challenges get `ttl_mode = "spike"` with a multiplied TTL so honest
        clients still have time to complete their flow.
      parameters:
        - in: query
          name: pubkey
          required: false
          description: Ed25519 pubkey (64-char hex). Binds the challenge so only this key can consume it.
          schema: { type: string }
        - in: query
          name: purpose
          required: false
          description: "`register` (default) | `action` | other free-form label."
          schema: { type: string, default: register }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthChallengeResponse"
        "400":
          description: INVALID_PUBKEY
        "429":
          description: Rate limited (per-IP limiter; respect `Retry-After`).

  /api/register/initiate:
    post:
      tags: [protocol]
      summary: Registration initiation (signed manifest + challenge)
      description: |
        Submit a signed manifest plus the challenge response.
        
        Request body composition (see also `scripts/umbrexon_bot_client.py` for a reference
        implementation):
        
        - `manifest_signature` = Ed25519 over the 32-byte digest
          `sha256(canonicalize(manifest))`, where `canonicalize` is JSON with recursively
          sorted keys, no whitespace, Unicode literal. Mirrors `lib/manifest-schema.js`.
        - `challenge_response` = Ed25519 over the RAW 32 bytes of `nonce`
          returned by `GET /api/auth/challenge`. NOT over the hex string.
        - `pow` (optional but typically required by configuration): `{challenge_id, nonce, iterations}`
          from `GET /api/pow/challenge?purpose=register`.
        
        NB: signatures are **Ed25519, not HMAC**. The three digests above are distinct;
        do not reuse a single `sha256(JSON+nonce)` for everything.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterInitiateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterInitiateResponse"
        "401":
          description: BAD_MANIFEST_SIGNATURE / BAD_CHALLENGE_RESPONSE / CHALLENGE_EXPIRED / CHALLENGE_ALREADY_USED
        "402":
          description: POW_REQUIRED / POW_INVALID — fetch a fresh challenge from `/api/pow/challenge`.
        "429":
          description: Rate limited (respect `Retry-After`).

  /api/cert/{kya_id}:
    get:
      tags: [agent]
      summary: Fetch agent certificate
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK

  /api/cert/{kya_id}/status:
    get:
      tags: [agent]
      summary: Fetch certificate status
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK

  /api/cert/verify:
    post:
      tags: [agent]
      summary: Online certificate verification
      responses:
        "200":
          description: OK

  /api/protocol/reputation-model:
    get:
      tags: [protocol]
      summary: Reputation model reference (public)
      responses:
        "200": { description: OK }

  /api/dashboard:
    get:
      tags: [admin]
      summary: Admin dashboard (agents snapshot)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/anchors/pending:
    get:
      tags: [admin]
      summary: Pending anchors (admin)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/agent/{kya_id}/reputation:
    get:
      tags: [agent]
      summary: Agent reputation (public)
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/agent/{kya_id}/actions:
    get:
      tags: [agent]
      summary: Agent actions list (public)
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/agent/{kya_id}/appeal:
    post:
      tags: [agent]
      summary: Submit an appeal (agent self-service)
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/agent/{kya_id}/appeals:
    get:
      tags: [agent]
      summary: List appeals for agent (public)
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/admin/system-health:
    get:
      tags: [admin]
      summary: Admin system health summary
      security:
        - AdminKey: []
      responses:
        "200":
          description: OK

  /api/status:
    get:
      tags: [public]
      summary: Lightweight status endpoint (used by reverse-proxy healthchecks)
      responses:
        "200": { description: OK }

  /api/admin/health/details:
    get:
      tags: [admin]
      summary: Detailed health diagnostics (admin)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/run-decay:
    post:
      tags: [admin]
      summary: Manually trigger decay tick
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/reports:
    get:
      tags: [admin]
      summary: List reports (admin)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/reports/{id}/resolve:
    post:
      tags: [admin]
      summary: Resolve a report
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: OK }

  /api/admin/agent/{kya_id}/slash:
    post:
      tags: [admin]
      summary: Slash agent (admin)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/admin/agent/{kya_id}/restore:
    post:
      tags: [admin]
      summary: Restore agent (admin)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/admin/agent/{kya_id}/reissue-cert:
    post:
      tags: [admin]
      summary: Reissue certificate after restore (admin)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/admin/abuse:
    get:
      tags: [admin]
      summary: Abuse overview (admin)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/abuse/ban:
    post:
      tags: [admin]
      summary: Manual IP ban (admin)
      security: [{ AdminKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/admin/abuse/unban:
    post:
      tags: [admin]
      summary: Manual IP unban (admin)
      security: [{ AdminKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/admin/abuse/reset-rate-limit:
    post:
      tags: [admin]
      summary: Reset in-memory rate-limit buckets (admin test helper)
      security: [{ AdminKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/admin/abuse/agent/{kya_id}:
    get:
      tags: [admin]
      summary: Abuse state for agent (admin)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/admin/anchor/queue:
    get:
      tags: [admin]
      summary: Anchor queue (admin)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/anchor/force:
    post:
      tags: [admin]
      summary: Force anchor processing (admin)
      security: [{ AdminKey: [] }]
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/admin/anchor/audit/{kya_id}:
    get:
      tags: [admin]
      summary: Anchor audit for agent (admin)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/admin/webhooks/queue:
    get:
      tags: [admin]
      summary: Webhook queue (admin)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/appeals:
    get:
      tags: [admin]
      summary: List appeals (admin)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/appeals/{id}/resolve:
    post:
      tags: [admin]
      summary: Resolve appeal (admin)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/admin/sybil/circles:
    get:
      tags: [admin]
      summary: Sybil circle detection (admin)
      security: [{ AdminKey: [] }]
      parameters:
        - in: query
          name: days
          required: false
          schema: { type: integer }
        - in: query
          name: min_pairs
          required: false
          schema: { type: integer }
      responses:
        "200": { description: OK }

  /api/admin/breakers:
    get:
      tags: [admin]
      summary: All breaker states (admin)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/volumetric-limits:
    get:
      tags: [admin]
      summary: List volumetric limits (admin)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }
    post:
      tags: [admin]
      summary: Upsert volumetric limit (admin)
      security: [{ AdminKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/admin/volumetric-limits/{limit_key}:
    get:
      tags: [admin]
      summary: Get volumetric limit (admin)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: limit_key
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/admin/volumetric-limits/prune:
    post:
      tags: [admin]
      summary: Prune volumetric counters (admin)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/lightning/liquidity:
    get:
      tags: [admin]
      summary: Lightning liquidity snapshot (admin)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/chain-status:
    get:
      tags: [admin]
      summary: Chain consensus status (admin)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/crl/anchor-now:
    post:
      tags: [admin]
      summary: Trigger CRL anchor build/broadcast now (admin)
      security: [{ AdminKey: [] }]
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/admin/manufacturer/{manufacturer_id}/attestations:
    get:
      tags: [admin]
      summary: List manufacturer attestations (admin)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: manufacturer_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/admin/manufacturer/attestation/{id}/revoke:
    post:
      tags: [admin]
      summary: Revoke manufacturer attestation (admin)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: OK }

  /api/admin/pricing:
    get:
      tags: [admin]
      summary: Get current pricing (optionally history)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }
    post:
      tags: [admin]
      summary: Update pricing (live)
      security: [{ AdminKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/admin/pricing/reload:
    post:
      tags: [admin]
      summary: Force pricing cache reload from DB
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/deny-list:
    get:
      tags: [admin]
      summary: Public-key deny list (truncated pubkey prefixes)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/registration/quote:
    get:
      tags: [public]
      summary: Registration quote (re-registration multiplier / cooldown aware)
      parameters:
        - in: query
          name: tier
          required: true
          schema: { type: string, enum: [BASIC, ELITE] }
        - in: query
          name: pubkey
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/admin/agents/{kya_id}/ban:
    post:
      tags: [admin]
      summary: Ban agent (no-custody penalty system)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/admin/agents/{kya_id}/unban:
    post:
      tags: [admin]
      summary: Unban agent (clears cooldown only)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/admin/hub-keys:
    get:
      tags: [admin]
      summary: Hub key metadata + signing activity
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/cert-signing-log:
    get:
      tags: [admin]
      summary: Certificate signing log (audit)
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/invoices:
    get:
      tags: [admin]
      summary: List invoices
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/invoices/{invoice_number}.json:
    get:
      tags: [admin]
      summary: Invoice metadata (JSON)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: invoice_number
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/admin/invoices/{invoice_number}/pdf:
    get:
      tags: [admin]
      summary: Invoice PDF (streams)
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: invoice_number
          required: true
          schema: { type: string }
      responses:
        "200":
          description: PDF
          content:
            application/pdf:
              schema: { type: string, format: binary }

  /api/admin/invoices/regenerate/{invoice_number}:
    post:
      tags: [admin]
      summary: Re-render invoice PDF
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: invoice_number
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/admin/data-exports:
    get:
      tags: [admin]
      summary: List data exports
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/data-exports/prune:
    post:
      tags: [admin]
      summary: Prune expired data exports
      security: [{ AdminKey: [] }]
      responses:
        "200": { description: OK }

  /api/admin/manufacturer/register:
    post:
      tags: [admin]
      summary: Register manufacturer
      security: [{ AdminKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: OK }

  /api/admin/manufacturer/{manufacturer_id}/verify:
    post:
      tags: [admin]
      summary: Verify manufacturer
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: manufacturer_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/admin/manufacturer/{manufacturer_id}/suspend:
    post:
      tags: [admin]
      summary: Suspend manufacturer
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: manufacturer_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/admin/manufacturer/{manufacturer_id}/revoke:
    post:
      tags: [admin]
      summary: Revoke manufacturer
      security: [{ AdminKey: [] }]
      parameters:
        - in: path
          name: manufacturer_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/manufacturers:
    get:
      tags: [public]
      summary: List public manufacturers
      responses:
        "200": { description: OK }

  /api/manufacturer/{manufacturer_id}:
    get:
      tags: [public]
      summary: Public manufacturer info
      parameters:
        - in: path
          name: manufacturer_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/manufacturer/attestation:
    post:
      tags: [public]
      summary: Submit manufacturer attestation for a manifest
      responses:
        "200": { description: OK }
        "429": { description: Rate limited }

  /api/agent/{kya_id}/action:
    post:
      tags: [agent]
      summary: Agent action (Ed25519-signed)
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/agent/{kya_id}/heartbeat:
    post:
      tags: [agent]
      summary: Agent heartbeat (Ed25519-signed)
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/agent/{kya_id}/report:
    post:
      tags: [agent]
      summary: Agent peer report
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/agent/{kya_id}/events:
    get:
      tags: [agent]
      summary: Agent events feed (public)
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/agent/{kya_id}/retire:
    post:
      tags: [agent]
      summary: Agent self-retire (signed)
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/agent/{kya_id}/data-export:
    post:
      tags: [agent]
      summary: Request data export (signed)
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /api/agent/{kya_id}/data-export/{export_id}:
    get:
      tags: [agent]
      summary: Fetch data export (download link / status)
      parameters:
        - in: path
          name: kya_id
          required: true
          schema: { type: string }
        - in: path
          name: export_id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: OK }

  /api/admin/breaker/cert-issuance/state:
    get:
      tags: [admin]
      summary: Cert issuance breaker state
      security:
        - AdminKey: []
      responses:
        "200":
          description: OK

  /api/admin/breaker/cert-issuance/reset:
    post:
      tags: [admin]
      summary: Reset cert issuance breaker (maintenance halt)
      security:
        - AdminKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: OK

  /api/admin/retention/sizes:
    get:
      tags: [admin]
      summary: Retention sizing snapshot
      security:
        - AdminKey: []
      responses:
        "200":
          description: OK

  /api/admin/retention/run:
    post:
      tags: [admin]
      summary: Trigger retention tick
      security:
        - AdminKey: []
      responses:
        "200":
          description: OK

